@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    --line-color: #e5e7eb
}

.borderBlack {
    @apply border border-black/10;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }