/* body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html
{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: auto;
} */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/*---------------header CSS----------------*/

/*------------Front page------------------*/
#header 
{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(img/deskbackground.jpg);
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}

.user-box
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.user-box img
{
   border-radius: 50%;
   width: 400px;
   height: 400px;
   border: 2px solid rgb(0, 0, 0)
}

.user-box h1
{
    color: rgb(0, 255, 0);
    font-weight: bold;
    margin: 10px;

}

.user-box p
{
    color:rgb(0, 255, 0);
    font-weight: bold;
    margin: 10px;
    position: relative;

}


/*------------scroll bar------------------*/
.scroll-btn
{
    
    border: 1px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    position: absolute;
    
}

.scroll-bar span
{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;
}

.scroll-bar
{
    animation: mover 1s infinite alternate; 
}

@keyframes mover
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}


/*------------Nav Bar ------------------*/

.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;
}

.nav-bar .fa-bars
{
   font-size: 35px;
   color: white;
}

.navbar-toggler
{
    outline: none !important;

}

.navbar
{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.navbar-brand
{
    color: white;
}

.nav-link
{
    color: white !important;
}

.navbar-nav
{
    
    text-align: left;
}



/*------------About ------------------*/
.about
{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    align-items: center;
 
}


.about .h3
{
    margin-right: 500px;
}

.about .profile-img
{
    
    width: 400px;
    height: 400px;
    border: 2px solid rgb(0, 0, 0);
   
}

/* .about .col-md-6
{
    padding-top: 50px;
    padding-bottom: 50px;
    
 
} */


/* .about .col-md-6 .profile-img
{
    height: 400px;
    width: 400px;
    margin-left: 400px;
    margin-right: 300px;
    border: 2px solid rgb(0, 0, 0);   
} */
/* 
.about .col-md-6 p
{
    padding-left: 10px;
    margin-left: 10px;
    padding-bottom: 100px;
} */

/* .about .col-md-6 h3
{
    margin-left: 400px;
} */



/*------------Resume ------------------*/
.resume
{
    padding-top: 50px;
    padding-bottom: 30px;
    background: rgb(238, 238, 238);
}

.resume h1
{
    text-align: left;
    padding-bottom: 10px;
}

.resume h3
{
    padding-top: 10px;
    padding-right: 100px;
    margin-bottom: 10px;
    margin-left: 80px;
    text-align: center;
}

.timeline
{
    list-style-type: none;
    position:relative;
}

.timeline:before
{
    content: '';
    background: rgb(0, 0, 0);
    display: inline-block;
    position: absolute;
    left: 30px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.timeline li:before
{
    content: '';
    background: rgb(255, 255, 255);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid black;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}


.timeline li
{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: white;
}

.timeline li h4
{
    background-color: black;
    padding: 5px 0 5px 20px;
    color: white;
    font-size: 15px;
}


/*------------Skills ------------------*/
.skills
{
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills h1
{
    margin-bottom: 10px;
}

.skills-box1
{
    background: black;
    border-radius: 10px;
}

.skills-box2
{
    background: black;
    border-radius: 10px;
}

.skills-box3
{
    background: black;
    border-radius: 10px;
}


.skills-box1:hover
{
    background: rgb(51, 255, 0);
}

.skills-box2:hover
{
    background: red;
}

.skills-box3:hover
{
    background: blue;
}

.skills-box1 p
{
    color: white;
    text-align: center;
    font-weight: bold;
}


.skills-box2 p
{
    color: white;
    text-align: center;
    font-weight: bold;
}

.skills-box3 p
{
    color: white;
    text-align: center;
    font-weight: bold;
}

/*------------Contact ------------------*/

.contact
{
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(img/deskbackground.jpg);
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}

.contact h1
{
    color: white;
}

.contact p
{
    color: white;
    text-align: center;
}

.contact .row  
{
    padding: 30px 0px;
    font-size: 22px;
}

.contact .col-md-3 .fa
{
    color: white;
    padding: 10px;
    font-size: 50px;
    
}

.contact .btn
{
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    border: 2px solid white;
    background: transparent;
}

.contact .btn:focus
{
    box-shadow: none !important;
}

.contact .btn:hover
{
    border: 2px solid white !important;
    background: white !important;
    color: black;
}

